@import "../../styles/variables.module.scss";

.container {
  position: relative;
  //   top: 0;
  //   left: 0;
  width: Calc(100% - 30px);
  height: fit-content;
  background-color: $color-background;
  border: 4px solid $color-gold;
  border-radius: 30px;
  margin: 0 auto 20px;
  padding: 25px 10px 20px;
  @media screen and (min-width: $width-desktop) {
    margin: 0 0 20px 20px;
    padding: 10px;
  }
}

.close_modal {
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 10px;
  padding: 2px 10px;
  box-shadow: rgba(99, 99, 99, 0.7) 0px 2px 8px 0px;
  border: 1px solid transparent;
  background-color: $color-background;

  &:hover {
    background-color: $color-gold;
  }
}

.title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  @media screen and (min-width: $width-desktop) {
    font-size: 22px;
  }
}

// .form {
// }

fieldset {
  display: flex;
  flex-direction: column;
  border-width: 1px;
  border-color: black;
  outline: none;
  margin-bottom: 20px;
}

legend {
  margin-bottom: 20px;
  text-transform: uppercase;
  width: fit-content;
  font-size: 16px;
  @media screen and (min-width: $width-desktop) {
    font-size: 20px;
  }
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 20px;

  @media screen and (min-width: $width-desktop) {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  &_text {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    @media screen and (min-width: $width-desktop) {
      width: 150px;
      font-size: 20px;
    }
  }
}

.input {
  width: 100%;
  height: 38px;
  border: 1px solid #dcdcdc;
  padding: 1px 5px;
  font-family: "MyFont";
  font-size: 18px;
  background-color: white;

  @media screen and (min-width: $width-desktop) {
    font-size: 20px;
    width: 250px;
  }

  &.input_city {
    padding: 1px 2px;
    width: 100%;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-internal-autofill:selected {
  background-color: white !important;
}

.error_text {
  display: block;
  color: red;
  font-size: 18px;

  @media screen and (min-width: $width-desktop) {
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
  }
}

.input_phone {
  width: 100%;
  display: inline-flex;
  @media screen and (min-width: $width-desktop) {
    width: 250px;
    font-size: 22px;
  }

  input {
    font-size: 18px !important;
    width: 100%;
  }
}

.select {
  margin-bottom: 20px;
  font-size: 17px;
  @media screen and (min-width: $width-desktop) {
    font-size: 19px;
  }

  .poshta_option {
    height: 30px;
  }
}

.city {
  height: 30px;
  margin-bottom: 20px;
}

.label_select {
  font-size: 18px;
  @media screen and (min-width: $width-desktop) {
    font-size: 20px;
  }
}

.make_order {
  display: block;
  margin: 0 auto 10px;
  padding: 7px 20px;
  border: 1px solid transparent;
  border-radius: 20px;
  color: black;
  background-color: $color-gold;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: rgba(99, 99, 99, 0.7) 0px 2px 8px 0px;
  font-size: 14px;

  @media screen and (min-width: $width-desktop) {
    padding: 10px 30px;
    font-size: 16px;
  }
}

.delivery {
  margin: 5px 0 25px;
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: $width-desktop) {
    justify-content: flex-start;
  }

  label {
    // margin-right: 10px;
    display: inline-flex;
    align-items: center;
    width: Calc((100% - 20px) / 3);
    @media screen and (min-width: $width-desktop) {
      width: auto;
      margin-right: 40px;
    }

    img {
      width: Calc(100% - 15px);
      @media screen and (min-width: $width-desktop) {
        width: 150px;
      }
    }
  }

  input {
    position: relative;
    width: 15px;
    height: 15px;
    margin: 0;
    @media screen and (min-width: $width-desktop) {
      width: 20px;
      height: 20px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: white;
      margin: 0;
    }

    &::after {
      content: "";
      position: absolute;
      opacity: 0;
      width: 140%;
      height: 140%;
      bottom: 0;
      left: 0;
      background-image: url("../../icons/ok.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    &:checked::after {
      opacity: 1;
    }
  }
}

.ukrposhta {
  &_label {
    display: block;
    margin-bottom: 20px;
  }

  &_title {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    @media screen and (min-width: $width-desktop) {
      font-size: 20px;
    }
  }

  &_input {
    width: 100%;
    height: 38px;
    border: 1px solid #dcdcdc;
    padding: 1px 5px;
    font-family: "MyFont";
    font-size: 18px;
    background-color: white;
    @media screen and (min-width: $width-desktop) {
      font-size: 20px;
    }
  }

  &_error {
    display: block;
    color: red;
  }
}

.address {
  resize: none;
  height: 100px;
  border: 1px solid #dcdcdc;
  font-size: 18px;
  font-family: "MyFont";
  width: 100%;
  padding: 2px 5px;
  @media screen and (min-width: $width-desktop) {
    font-size: 20px;
  }
}

.meest {
  &_label {
    margin-bottom: 20px;
  }

  &_input {
    width: 100%;
    height: 38px;
    border: 1px solid #dcdcdc;
    padding: 1px 5px;
    font-size: 16px;
    background-color: white;
  }

  // &_error {
  // }
}

.connect {
  @extend .delivery;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  @media screen and (min-width: $width-desktop) {
    flex-direction: row;
  }
  label {
    width: 100%;
    margin-bottom: 10px;
    @media screen and (min-width: $width-desktop) {
      width: auto;
      margin-right: 50px;
    }
  }
  &_item {
    margin-left: 10px;
    font-size: 18px;
    @media screen and (min-width: $width-desktop) {
      font-size: 19px;
    }
  }
}
