@import "../../styles/variables.module.scss";
@import "../../styles/mixins.scss";

.buttons_container {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0;
  padding: 5px 0;
  font-size: 12px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 20px;

  button {
    @include display(flex, center, center);
    width: 25px;
    height: 25px;
    margin: 0 10px;
    font-size: 20px;
    background-color: $color-decor-3;
    border-color: transparent;
    border-radius: 50%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }

  span {
    display: block;
    font-size: 16px;
  }
}
