@import "../../styles/variables.module.scss";

.navigation {
  position: absolute;
  top: 130%;
  right: 0px;
  width: 100%;
  margin: 0 auto;
  background-color: $color-background;
  // outline: 1px solid red;
  z-index: 9999;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 0px;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) -5px 8px 10px 0px;

  @media screen and (min-width: 1190px) {
    position: static;
    width: 400px;
    height: auto;
    margin-top: 30px;
    box-shadow: none;
    height: fit-content;
  }

  li:nth-child(2n) {
    background-color: $color-background;
    div {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 40px;
      background-color: $color-gold;
    }
  }

  li:nth-child(2n + 1) {
    background-color: $color-gold;
    div {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 40px;
      background-color: $color-background;
    }
  }
  li:nth-child(1) {
    background-color: $color-gold;
    div {
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 40px;
      background-color: $color-background;
    }
  }

  div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: Calc(100% + 2px);
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    padding: 12px 40px;
    color: black;
    font-size: 24px;

    @media screen and (min-width: 1190px) {
      display: flex;
      align-items: center;
      padding: 12px 20px 12px 40px;
    }
  }

  li {
    height: 80px;
    @media screen and (min-width: 1190px) {
      height: 70px;
    }
  }
}

.active_icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
