/* SUSPENSE LOADER */
.loader {
  display: "flex";
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

}

.button_up {
  position: fixed;
  bottom: 70px;
  right: 5px;
  width: 35px;
  height: 35px;
  background: #ffcd50 url("../icons//arrow-up.svg") no-repeat 50% 50%;
  background-size: 25px 25px;
  color: #f2dbb7;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 2px;
}

.main_container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: auto;
  /* background-color: $color-background; */

}

@media screen and (min-width: 1190px) {
  .main_container {
    max-width: 1200px;
    margin: 30px auto;
    /* padding-left: 400px; */
    box-shadow: rgba(99, 99, 99, 0.2) -5px 8px 10px 0px;
    border-bottom-left-radius: 40px;
    display: flex;
  }

}