// COLORS
$color-background: #fff8dc;
$color-decor-1: #deb887;
$color-decor-2: #cdaa7d;
$color-decor-3: #fafafa;
$color-decor-4: #8b6914;
$color-active: #cdef4cb0;
$color-active-2: #cdef4c;
$color-text-1: #7c4b0d;
$color-gold: #ffcd50;
$color-gold-light: #ffcd504a;

// MEDIA-WIDTH
$width-mobile: 350px;
$width-tablet: 750px;
$width-desktop: 1400px;

// ANIMATION
$hover-1: transform 250ms cubic-bezier(0.36, 0.76, 0.86, 0.6);
