@import "../../styles/variables.module.scss";

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.basketList {
  margin: 20px 15px;
}

.basket_item {
  display: flex;
  align-items: center;

  position: relative;
  margin: 0 0 20px;
  &::after {
    position: absolute;
    content: "";
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: grey;
  }

  .basket_image {
    width: 70px;
    height: auto;
    object-fit: contain;
    margin: 0 20px 0 0;
  }

  p {
    margin: 3px 0;
    text-align: start;
  }

  .product_name {
    font-weight: bold;
    font-size: 18px;
  }

  .product_amount {
    font-weight: bold;
  }

  .amount_change {
    display: flex;
  }

  .delete_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto 0 0 auto;
    background-color: transparent;
    border: 1px solid transparent;
    height: fit-content;
  }

  .delete_icon {
    width: 20px;
    height: 20px;
    background-image: url("../../icons/delete.svg");
  }

  .delete_text {
    font-size: 10px;
  }

  .delete_item:hover .delete_text,
  .delete_item:focus .delete_text {
    color: red;
  }

  .delete_item:hover .delete_icon,
  .delete_item:focus .delete_icon {
    background-image: url("../../icons/delete-red.svg");
  }
}

.total_price {
  text-align: start;
  margin: 20px 15px;
  font-size: 16px;

  span {
    font-size: 18px;
    font-weight: bold;
  }
}

.order_button {
  margin-bottom: 30px;
  padding: 10px 30px;
  border: 1px solid transparent;
  border-radius: 15px;
  color: $color-decor-3;
  background-color: #0d0d0dc9;
  text-transform: uppercase;
  font-weight: bold;
}
