@import "../../styles/variables.module.scss";
@import "../../styles/mixins.scss";

.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 666666;
  @include display(flex, center, center);
  width: 100%;
  height: 100vh;
  background-color: $color-background;
}

.text_container {
  @include display(flex, center, center);
  flex-direction: column;
  width: auto;
  height: auto;
  min-height: 200px;
  margin: 30px;
  padding: 30px;
  border-radius: 5px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  background-color: $color-gold;
  @media screen and (min-width: $width-desktop) {
    min-width: 300px;
    min-height: 200px;
    padding: 50px;
  }
  p {
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    @media screen and (min-width: $width-desktop) {
      font-size: 24px;
      line-height: 2;
    }
  }
}

.button {
  width: 200px;
  margin-bottom: 15px;
  padding: 10px 30px;
  font-size: 17px;
  color: black;
  background-color: $color-background;
  border: 1px solid transparent;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  @media screen and (min-width: $width-desktop) {
    font-size: 18px;
  }
}
.button:active {
  transform: scale(0.92);
}
