@import "../../styles/variables.module.scss";

.container {
  position: relative;
  width: 100%;
}

.section_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-basis: calc((100% - 60px) / 2);
  // height: 128px;
  margin-bottom: 20px;
  padding: 15px;
  // background-color: $color-olive;
  box-shadow: rgba(99, 99, 99, 0.8) 0px 2px 8px 0px;
  border-radius: 0px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;

  &:hover,
  &:focus {
    background-color: $color-gold;
  }

  @media screen and (min-width: 765px) {
    flex-basis: calc((100% - 100px) / 4);
  }

  @media screen and (min-width: 1190px) {
  }

  img {
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
  }
}

.section_name {
  text-align: center;
  color: black;
  margin: 0;
  font-size: 18px;
  @media screen and (min-width: "1000px") {
    font-size: 22px;
  }
}
