@import "../../styles/variables.module.scss";
@import "../../styles/mixins.scss";

.footer {
  margin-top: auto;
}

.footer_container {
  position: relative;
  @include display(flex, space-between, flex-end);
  margin: 0 auto;
  padding: 15px 10px;
  font-size: 16px;
  color: black;
  background-color: $color-background;

  @media screen and (min-width: $width-desktop) {
    max-width: $max-container;
    margin: 0 auto 20px;
    font-size: 24px;
  }
}

.footer_drop {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  @include display(flex, center, center);
  width: 40px;
  height: 40px;
  border: 1px solid $color-grey;
  border-radius: 50%;
  background-color: $color-background;

  &:hover {
    background-color: grey;
  }
}

.footer_contacts {
  display: flex;
  flex-direction: column;
  width: fit-content;
  text-decoration: underline;

  a {
    margin: 0 0 5px 0;
    transition: $hover-1;
    color: black;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.social_container {
  display: flex;
  margin: 0 0 10px 0;

  & img {
    margin-right: 10px;
  }
}

.instagram {
  cursor: pointer;
  transition: $hover-1;

  &:hover {
    transform: scale(1.2);
  }
}

.facebook {
  cursor: pointer;
  transition: $hover-1;

  &:hover {
    transform: scale(1.2);
  }
}

.viber {
  display: flex;
  align-items: center;

  &_icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image: url("../../icons/viber.svg");
    @media screen and (min-width: $width-desktop) {
      width: 30px;
      height: 30px;
    }
  }
}

.footer_links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-decoration: underline;

  a {
    margin: 0 0 5px 0;
    transition: $hover-1;
    color: black;

    &:hover {
      transform: scale(1.2);
    }
  }
}
