@import "../../styles/variables.module.scss";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px 0 0px;
}

.contacts_section {
  display: flex;
  align-items: flex-start;
  margin: 0 20px 30px;
  @media screen and (min-width: $width-desktop) {
    margin-bottom: 50px;
  }
}

.text {
  margin: 0;
  font-size: 16px;
  @media screen and (min-width: $width-desktop) {
    font-size: 22px;
  }

  &:nth-child(odd) {
    margin-right: 10px;
    text-align: left;
  }
  &:nth-child(even) {
    margin-left: 10px;
    text-align: left;
  }

  span {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.contacts_img {
  width: 90px;
  height: auto;
  margin-top: 10px;
  object-fit: contain;
  @media screen and (min-width: $width-desktop) {
    width: 150px;
  }
}

.linkOlia {
  display: block;
  width: fit-content;
  margin: 0 auto 20px;
  padding: 3px 25px;
  font-size: 20px;
  text-align: center;
  color: black;
  background-color: $color-background;
  border: 1px solid transparent;
  border-radius: 50px;
  box-shadow: rgba(99, 99, 99, 0.7) 0px 2px 8px 0px;

  @media screen and (min-width: $width-desktop) {
    font-size: 24px;
  }

  &:hover {
    background-color: $color-gold;
  }
}

.qr {
  margin: 0 auto;
  @media screen and (min-width: $width-desktop) {
    width: 200px;
    height: 200px;
  }
}

.final_text {
  margin: 20px 40px;
  font-size: 22px;
  font-family: $font-decor;
  text-align: justify;
  @media screen and (min-width: $width-desktop) {
    font-size: 30px;
  }
  span {
    font-weight: bold;
  }
}
